
<div class="uk-padding fundo uk-container">


    <div class="uk-container uk-flex uk-flex-center uk-margin-medium-top uk-text-center">


        <div>
            <h1 style="color:rgb(0, 46, 80)" class="uk-text-center">
                <b>Eleve suas<br> aplicações<br> e redes</b> com <br>nossa  entrega <br> de conteúdo
            </h1>

        </div>

        
    </div>

</div>

<div class="uk-text-center uk-padding">
    <a routerLink="/hosting" class="uk-border-pill uk-button uk-button-large uk-button-secondary " style="color:white"
    target="_blank"><b> Teste gratuitamente por 14 dias</b></a>
</div>

<div class=" ">


    <div class="uk-container uk-margin-medium-top uk-margin-large-bottom">
        <div class="uk-child-width-1-3@l espaco uk-child-width-1-1@s uk-grid-match uk-grid uk-text-center">
            <div>
                <div style="background: linear-gradient(to top, #234d77, #1e87f0); border-radius: 20px;"
                    class=" uk-border-rounded card uk-card-default uk-card-body uk-width-1-1@m">
                    <h2 style="color: rgb(255, 255, 255)">
                        <span class="uk-margin-small-right" uk-icon="icon:world; ratio: 3"></span><br><br>

                        <b> Rede Global <br>Tier II </b>
                    </h2>
                    <p style="color:white">+ 4 nós intercontinentais <br>
                        + 930
                        Data Centers Interconectados <br> + 27
                        IXPs <br> + 6000
                        Parceiros de Peering
                    </p>

                    <a routerLink="/hosting" class="uk-border-pill uk-button  uk-button-secondary " style="color:white"
                        target="_blank"> Começar agora</a>
                </div>
            </div>

            <div>
                <div style="background: linear-gradient(to top, #234d77, #1e87f0); border-radius: 20px;"
                    class=" uk-border-rounded card uk-card-default uk-card-body uk-width-1-1@m">
                    <h2 style="color: rgb(255, 255, 255)">
                        <span class="uk-margin-small-right" uk-icon="icon: server
                        ; ratio: 3"></span><br><br>

                        <b> Solução Corporativa </b>
                    </h2>
                    <p style="color:white">
                        Solução comprovada, capaz de lidar com de 400 TB por dia em cache e como proxies diretos quanto
                        reversos, ideal para usuários corporativos.
                    </p>
                    <a routerLink="/domain" class="uk-border-pill uk-button  uk-button-secondary " style="color:white">
                        Registar agora</a>
                </div>
            </div>

            <div>
                <div style="background: linear-gradient(to top, #234d77, #1e87f0); border-radius: 20px;"
                    class=" uk-border-rounded card uk-card-default uk-card-body uk-width-1-1@m">
                    <h2 style="color: rgb(255, 255, 255)">
                        <span class="uk-margin-small-right" uk-icon="icon:lock; ratio: 3"></span><br><br>

                        <b> Proteção L3/L7 Anti-DDoS
                        </b>
                    </h2>
                    <p style="color:white">
                        Protecção contra ataques volumétricos, mitigação de ameaças à Infraestrutura, garantimos alta
                        disponibilidade de aplicações web, APIs e serviços online.
                    </p>
                    <a routerLink="/rede" class="uk-border-pill uk-button  uk-button-secondary " style="color:white"
                        target="_blank">Teste Grátis</a>
                </div>
            </div>

        </div>
    </div>

</div>