
<div class="uk-background-muted uk-padding-small uk-margin-large-top">


    <div class="uk-container  uk-margin-large-bottom">
        <div class="uk-child-width-1-2@l espaco uk-child-width-1-1@s uk-grid-match uk-grid uk-grid-small uk-text-left">
            <div>
                <div style=" border-radius: 20px;" class=" uk-border-rounded card uk-card-body uk-width-1-1@m">
                    <h1 >

                        <b> Melhore seu tempo de resposta, reduzindo a carga do servidor e as
                            necessidades de largura de banda </b>
                    </h1>
                    <p >Armazene em cache e reutilize páginas da Web, imagens e
                        chamadas de serviços da Web solicitadas com frequência. Filtre ou torne anônimas solicitações de conteúdo ou adicione
                        balanceamento de carga adicionando uma camada de proxy com a rede de distribuição de conteúdo (CDN) da Angola Cables
                    </p>

                </div>
            </div>

            <div>
                <div style=" border-radius: 20px;" class=" uk-border-rounded card  uk-card-body uk-width-1-1@m">
                   <img src="img/mapa.png">
                
                </div>


                <div class="uk-child-width-1-3@l espaco uk-child-width-1-1@s uk-grid-match uk-grid uk-grid-small uk-text-left">
                    <div>
                        <div style=" border-radius: 20px;" class=" uk-border-rounded card uk-card-body uk-width-1-1@m">
                            

                                <b><span class="uk-margin-small-right" uk-icon="location"></span> África Austral </b>
                          
        
                        </div>
                    </div>
        
                    <div>
                        <div style=" border-radius: 20px;" class=" uk-border-rounded card  uk-card-body uk-width-1-1@m">
                            
                            <b><span class="uk-margin-small-right" uk-icon="location"></span> América do Sul & Europa </b>

                        </div>
                        
                    </div>

                    <div>
                        <div style=" border-radius: 20px;" class=" uk-border-rounded card  uk-card-body uk-width-1-1@m">
                           

                            <b><span class="uk-margin-small-right" uk-icon="location"></span>
                                África Central </b>

                        </div>
                        
                    </div>
                   
                   
                </div>
            

            </div>
           
        </div>
    </div>

</div>
